<header class="fixed left-0 top-0 w-full z-999 bg-white py-4">
  <div class="container">
    <div class="flex justify-between items-center">
      <div class="logo">
        <a routerLink="/home" class="text-3xl text-main font-semibold  cursor-pointer"> Trendify </a>
      </div>
      <ul class="flex items-center space-x-4">
        @for (item of menuItems(); track $index) {
          <li>
            <a [routerLink]="item.link" routerLinkActive="text-main font-medium" class="text-gray-400 transition duration-300"> {{item.text}} </a>
          </li>
        }
      </ul>
      <ul class="flex items-center space-x-4">
        <li (click)="menu.toggle($event)" class="flex items-center gap-2 bg-gray-50 text-main p-2 rounded-lg cursor-pointer">
          <i class="fa-regular fa-user"></i>
          <h4 class="font-medium"> {{userInfo().name}} </h4>
          <i class="fa-solid fa-chevron-down"></i>
          <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
        </li>
        <li>
          <a routerLink="/products/fav" class="text-main">
            <i class="fa-regular fa-heart text-2xl"></i>
          </a>
        </li>
        <button (click)="visible = true" class="text-main cursor-pointer">
          <i class="fa-solid fa-cart-shopping text-2xl"></i>
        </button>
      </ul>
    </div>
  </div>
</header>

<!-- cart preview -->
<p-drawer [(visible)]="visible" position="right" styleClass="!w-md">
  <ng-template #header>
    <div class="flex gap-1">
      <h3 class="text-xl font-medium text-secondary"> Cart </h3>
      <span class="text-xs text-main">({{cartDetails().numOfCartItems}})</span>
    </div>
  </ng-template>
  <div class="body h-full">
    @if (cartDetails().data && cartDetails().data.products.length > 0) {
      @for (product of cartDetails().data.products; track $index) {
        <app-cart-item [product]="product" />
      }
    } @else {
      <app-empty-state
        [image]="'/images/empty-cart.svg'"
        [title]="'Your cart is empty'"
      />
    }
  </div>
  <ng-template #footer>
    <div class="flex justify-between items-center mb-2.5">
      <span class="text-secondary text-lg font-medium">Total</span>
      <span class="text-main font-semibold">{{cartDetails().data.totalCartPrice || 0 }} EGP</span>
    </div>
    <button (click)="visible = false" routerLink="/cart" class="btn rounded-lg">
      Proceed to Checkout
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </ng-template>
</p-drawer>
