<section class="py-14">
  <div class="container">
    <app-main-title
      [title]="'New Collection'"
      [description]="'Check the new Collection'"
    />
    <div class="flex gap-6">
      <div class="h-[550px] w-1/2 relative overflow-hidden rounded-3xl">
        <div class="image w-full h-full">
          <img src="/images/collections/collection-1.png" class="w-full h-full object-cover" alt="collection-image" />
        </div>
        <div class="absolute inset-0 bg-black/30 flex items-center justify-center flex-col text-white">
          <h3 class="text-5xl mb-2.5">Shoes</h3>
          <p class="text-3xl">UP TO 50% OFF</p>
        </div>
      </div>
      <div class="h-[550px] w-1/2 flex flex-col justify-between gap-5">
        <div class="h-[48%] relative overflow-hidden rounded-3xl">
          <div class="image w-full h-full">
            <img src="/images/collections/collection-2.webp" class="w-full h-full object-cover" alt="collection-image" />
          </div>
          <div class="absolute inset-0 bg-black/30 flex items-center justify-center flex-col text-white">
            <h3 class="text-5xl mb-2.5">Bags</h3>
            <p class="text-3xl">UP TO 50% OFF</p>
          </div>
        </div>
        <div class="h-[48%] relative overflow-hidden rounded-3xl">
          <div class="image w-full h-full">
            <img src="/images/collections/collection-3.webp" class="w-full h-full object-cover" alt="collection-image" />
          </div>
          <div class="absolute inset-0 bg-black/30 flex items-center justify-center flex-col text-white">
            <h3 class="text-5xl mb-2.5">Accessories</h3>
            <p class="text-3xl">UP TO 50% OFF</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
