<section class="py-14">
  <div class="container">
    <app-main-title
      [title]="'Flash Sale'"
      [description]="'Grab Them Before They Are Gone!'"
    />
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6">
      @for (product of productList(); track product._id) {
        <app-product-item [product]="product" />
      }
    </div>
    <button routerLink="/products" class="block mx-auto mt-6 border border-main rounded-3xl py-2.5 px-6 cursor-pointer transition duration-300 hover:bg-main hover:text-white">
      See All
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
