<section class="hero py-24 mt-16">
  <div class="container text-white">
    <h1 class="text-3xl lg:text-4xl font-semibold leading-12">
      Elevate Your Home with <br/> Stylish Furniture
    </h1>
    <p class="max-w-lg my-5">
      Explore a range of high-quality, affordable furniture designed to transform any room.
      Discover the perfect blend of style, comfort, and functionality for your space.
    </p>
    <button routerLink="/products" class="block w-1/6 p-2 bg-main text-white rounded-3xl font-bold cursor-pointer">Shop Now</button>
    <img src="/images/arrow.png" class="relative w-[70px] md:w-[115px] left-[7%]" alt="arrow-image" />
    <div class="flex flex-col gap-1 relative w-fit left-[24%] md:left-[18%] bottom-10">
      <div class="flex gap-1 text-xl">
        4.8 |
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
      <span>150k Total Review</span>
    </div>
  </div>
</section>
