<section class="hero py-10 mt-16">
  <div class="container">
    <div class="mian_title flex flex-col gap-4 mb-8">
      <h2 class="text-secondary text-3xl md:text-4xl font-bold">Contact me</h2>
      <p class="text-gray-400 text-sm md:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sequi ad unde.</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="w-full md:w-[70%] flex flex-col gap-6">
      <div class="flex flex-col md:flex-row gap-6">
        <app-basic-input
          [id]="'firstName'"
          [type]="'text'"
          [label]="'First Name'"
          [control]="form.get('firstName')"
          formControlName="firstName"
          class="w-full md:w-1/2"
          [errors]="{
            'required': 'firstName is required'
          }"
        />
        <app-basic-input
          [id]="'lastName'"
          [type]="'text'"
          [label]="'Last Name'"
          [control]="form.get('lastName')"
          formControlName="lastName"
          class="w-full md:w-1/2"
          [errors]="{
            'required': 'lastName is required'
          }"
        />
      </div>
      <div class="flex flex-col md:flex-row gap-6">
        <app-basic-input
          [id]="'email'"
          [type]="'email'"
          [label]="'Email'"
          [control]="form.get('email')"
          formControlName="email"
          class="w-full md:w-1/2"
          [errors]="{
            'required': 'email is required',
            'email': 'enter valid email'
          }"
        />
        <app-basic-input
          [id]="'phoneNumber'"
          [type]="'tel'"
          [label]="'Phone Number'"
          [control]="form.get('phoneNumber')"
          formControlName="phoneNumber"
          class="w-full md:w-1/2"
          [errors]="{
            'required': 'phoneNumber is required',
            'pattern': 'accept only egypt phone'
          }"
        />
      </div>
      <div class="w-full">
        <p-floatlabel variant="on">
          <p-select inputId="topics" formControlName="topic" [class.border-red-500!]="isInvalid('topic')" [options]="topics" optionLabel="name" optionValue="code" />
          <label for="topic" [class.text-red-500!]="isInvalid('topic')">Choose a topic</label>
        </p-floatlabel>
        @if (form.get('topic')?.errors && form.get('topic')?.touched) {
          <p class="text-red-500 text-sm mt-1 lowercase"> topic is required </p>
        }
      </div>
      <div class="w-full">
        <div class="floating-label-group">
          <textarea id="message" formControlName="message" class="floating-input h-[110px]! resize-none" [class.border-red-500!]="isInvalid('message')" placeholder=" "></textarea>
          <label for="message" class="floating-label" [class.text-red-500!]="isInvalid('message')"> Message </label>
        </div>
        @if (form.get('message')?.errors && form.get('message')?.touched) {
          <p class="text-red-500 text-sm mt-1 lowercase"> message is required </p>
        }
      </div>
      <div class="flex items-center space-x-3">
        <input type="checkbox" formControlName="acceptTerms" class="size-5 accent-main" id="accept-terms" />
        <label for="accept-terms" [class.!text-red-500]="form.get('acceptTerms')?.errors && form.get('acceptTerms')?.touched" class="text-secondary cursor-pointer">i accept the terms</label>
      </div>
      <button type="submit" class="btn w-40"> submit </button>
    </form>
  </div>
</section>

<app-subscription />
