<div class="floating-label-group">
  <input
    [type]="type() || (flag() ? 'text' : 'password')"
    [id]="id()"
    [value]="value"
    (input)="onChange($any($event.target).value)"
    (blur)="onTouched()"
    class="floating-input"
    [class.!border-red-500]="control()?.touched && control()?.errors"
    placeholder=" "
    [readonly]="readonly()"
  />
  <label
    [for]="id()"
    class="floating-label"
    [class.!text-red-500]="control()?.touched && control()?.errors"
  >
    {{label()}}
  </label>
  @if (maskPassword()) {
    <span (click)="togglePassword()" class="toggle">
      @if (!flag()) {
        <i class="fa-solid fa-eye"></i>
      } @else {
        <i class="fa-solid fa-eye-slash"></i>
      }
    </span>
  }
</div>

@if (control()?.touched && control()?.errors) {
  @for (key of objectKeys; track $index) {
    @if (control()?.getError(key)) {
      <p class="text-red-500 text-sm mt-1 lowercase">
        {{ errors()[key] }}
      </p>
    }
  }
}
