<section>
  <div class="flex h-screen">
    <div class="col w-1/2 flex flex-col justify-center px-20">
      <div class="main_title flex flex-col gap-2 mb-6">
        <h2 class="text-secondary text-3xl font-bold">Forget Password</h2>
        <p class="text-gray-400 text-sm">Please Finish This steps in order to reset your password</p>
      </div>
      @if (steps() === 'forget') {
        <form [formGroup]="forgetForm" (ngSubmit)="submitForgetForm()" class="flex flex-col gap-6">
          <app-basic-input
            [id]="'email'"
            [type]="'email'"
            [label]="'Email'"
            [control]="forgetForm.get('email')"
            formControlName="email"
            [errors]="{
              'required': 'email is required',
              'email': 'enter valid email'
            }"
          />
          <button type="submit" class="btn"> Send Code </button>
        </form>
      } @else if (steps() === 'otp') {
        <form [formGroup]="otpForm" (ngSubmit)="submitOtpForm()" class="flex flex-col gap-6">
          <app-basic-input
            [id]="'code'"
            [type]="'text'"
            [label]="'Code'"
            [control]="otpForm.get('resetCode')"
            formControlName="resetCode"
            [errors]="{
              'required': 'code is required'
            }"
          />
          <button type="submit" class="btn"> Verify Code </button>
        </form>
      } @else if (steps() === 'reset') {
        <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()" class="flex flex-col gap-6">
          <app-basic-input
            [id]="'oldEmail'"
            [type]="'email'"
            [label]="'Email'"
            [control]="resetForm.get('email')"
            formControlName="email"
            [readonly]="true"
            [errors]="{
              'required': 'email is required'
            }"
          />
          <app-basic-input
            [id]="'newPassword'"
            [label]="'New Password'"
            [control]="resetForm.get('newPassword')"
            formControlName="newPassword"
            [maskPassword]="true"
            [errors]="{
              'required': 'new password is required',
              'pattern': 'new password must start with upperCase then any 6 chars or more'
            }"
          />
          <button type="submit" class="btn"> Reset Password </button>
        </form>
      }
    </div>
    <app-auth-slider class="w-1/2" />
  </div>
</section>
