<section class="py-14">
  <div class="container">
    <div class="grid grid-cols-8 gap-6">
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
      <div class="col text-center">
        <div class="image h-36 w-36 mx-auto">
          <img src="https://ecommerce.routemisr.com/Route-Academy-categories/1681511865180.jpeg" class="w-full h-full object-cover rounded-full" alt="category" />
        </div>
        <h3 class="text-[#090F41] font-medium">asf</h3>
      </div>
    </div>
  </div>
</section>
