<section class="py-14">
  <div class="container">
    <swiper-container #swiperCategories init="false">
      @for (category of categoryList(); track category._id) {
        <swiper-slide>
          <div class="col text-center flex flex-col gap-3">
            <div class="image h-36 w-36 mx-auto">
              <img [src]="category.image" class="w-full h-full object-cover rounded-full" alt="category" />
            </div>
            <h3 class="text-secondary font-medium"> {{category.name}} </h3>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
