<section class="discover py-14">
  <div class="container h-[400px] relative">
    <div class="absolute inset-0 text-white w-7xl mx-auto h-full flex flex-col gap-5 justify-center items-center text-center">
      <h2 class="text-5xl font-bold"> Discover Fashion That Speaks To You. </h2>
      <p class="text-2xl leading-10">
        Explore a range of high-quality, affordable furniture designed to transform any room.
        Discover the perfect blend of style, comfort, and functionality for your space.
      </p>
      <button routerLink="/products" class="border border-white rounded-3xl py-2.5 px-6 cursor-pointer transition duration-300 hover:bg-main-color hover:border-main-color">
        See All
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
