<div class="col flex flex-col px-8 sm:px-10 lg:px-14 xl:px-16 2xl:px-20">
  <div class="main_title flex flex-col gap-2 mb-6">
    <h2 class="text-secondary text-3xl font-bold">Forget Password</h2>
    <p class="text-gray-400 text-sm">Please Finish This steps in order to reset your password</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="flex flex-col gap-6">
    <app-input
      [id]="'email'"
      [type]="'email'"
      [label]="'Email'"
      [control]="form.get('email')"
      formControlName="email"
      [errors]="{
        'required': 'email is required',
        'email': 'enter valid email'
      }"
    />
    <button type="submit" class="btn_primary"> Send Code </button>
  </form>
</div>
