<div class="product bg-white p-2">
  <div [routerLink]="['/products', product()._id]"class="product_image cursor-pointer bg-[#F1F1F1] rounded-md w-full mb-2 relative">
    <img [src]="product().imageCover" class="w-full h-[300px] object-contain" alt="product-image" />
    <span class="size-10 rounded-full bg-white absolute top-4 right-4 flex justify-center items-center z-10 cursor-pointer">
      <i class="fa-solid fa-heart text-xl"></i>
    </span>
  </div>
  <div class="product_content p-2 flex flex-col gap-2">
    <h3 class="text-2xl text-secondary line-clamp-1"> {{product().title}} </h3>
    <div class="flex items-center gap-1.5">
      <i class="fa-solid fa-star text-yellow-600"></i>
      <span class="text-secondary"> {{product().ratingsAverage}} </span>
      <span class="text-gray-300 text-sm">(500+)</span>
    </div>
    <div class="flex justify-between items-center">
      <span class="text-main"> {{product().price}} EGP </span>
      <button class="w-8 h-8 bg-main text-white rounded-md">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>
