<section class="py-14 mt-16">
  <div class="container">
    <div class="flex gap-8">
      <div class="col bg-white flex-1">
        @if (cartDetails().data && cartDetails().data.products.length > 0) {
          @for (product of cartDetails().data.products; track product.product.id) {
            <app-cart-item [product]="product" />
          }
        } @else {
          <app-empty-state
            [image]="'/images/empty-cart.svg'"
            [title]="'Your cart is empty'"
          >
            <button routerLink="/products" class="btn rounded-lg">Shopping Now</button>
          </app-empty-state>
        }
      </div>
      <div class="col bg-white w-md border border-gray-300 rounded-md p-5 flex flex-col gap-4 h-fit">
        <div class="flex flex-col gap-4 border-b border-gray-300 pb-5">
          <h3 class="text-secondary text-xl font-semibold">Coupon Code</h3>
          <div class="flex gap-2">
            <input type="text" class="flex-1 h-12 p-2 border border-main outline-none rounded-lg" placeholder="Enter Your Code" />
            <button class="w-20 bg-main text-white rounded-lg cursor-pointer">Apply</button>
          </div>
        </div>
        <div class="flex flex-col gap-4 border-b border-gray-300 pb-5">
          <h3 class="text-secondary text-xl font-semibold">Order Summary</h3>
          <ul class="flex flex-col gap-2">
            <li class="flex justify-between items-center">
              <span class="text-gray-500">Total</span>
              <span class="text-main font-medium">{{cartDetails().data.totalCartPrice || 0}} EGP</span>
            </li>
            <li class="flex justify-between items-center">
              <span class="text-gray-500">Total Shipping Cost</span>
              <span class="text-main font-medium">{{(cartDetails().data.totalCartPrice * (10 / 100)).toFixed() || 0}} EGP</span>
            </li>
          </ul>
          <p class="text-sm text-gray-500">
            <i class="fa-solid fa-truck-fast"></i>
            Delivery between September 1 and September 7
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex justify-between items-center">
            <span class="text-secondary text-lg font-medium">Total</span>
            <span class="text-main font-semibold">{{(cartDetails().data.totalCartPrice + cartDetails().data.totalCartPrice * (10 / 100)) || 0}} EGP</span>
          </div>
          <button [routerLink]="['/cart/checkout', cartDetails().cartId]" class="btn rounded-lg">
            Proceed to Checkout
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
