<section class="hero py-10 mt-16">
  <div class="container">
    @if (wishlistList().length > 0) {
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @for (product of wishlistList(); track product.id) {
          <app-product-item [product]="product" />
        }
      </div>
    } @else {
      <app-empty-state
        [image]="'/images/empty-fav.svg'"
        [title]="'You have no favorite products'"
      >
        <button routerLink="/products" class="btn_primary rounded-lg">Shopping Now</button>
      </app-empty-state>
    }
  </div>
</section>
