<section class="py-14">
  <div class="container">
    <div class="flex justify-center items-center flex-col gap-4 bg-white py-12">
      <span class="text-main text-4xl">
        <i class="fa-solid fa-envelope"></i>
      </span>
      <h3 class="uppercase text-secondary font-medium">sign up for teemate style news</h3>
      <p class="text-sm text-gray-500 text-center">
        Get 15% of your first purchaxsel! plus, be the first to known about sales, <br/>
        new product launches and exclusive offers!
      </p>
      <div class="flex gap-4 w-md">
        <input type="text" class="w-full bg-white text-gray-500 p-2 border border-main outline-none rounded-lg" placeholder="Enter Your Email" />
        <button class="p-2 bg-main text-white border border-white rounded-lg cursor-pointer">Subscribe</button>
      </div>
    </div>
  </div>
</section>
